name: Update Rule File

on:
  schedule:
    - cron: '0 0 * * 0'  # 每周日0点运行一次

# Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Git
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"

    - name: Download TT Rule from URL
      run: wget -O TT.list https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/refs/heads/master/rule/Clash/TikTok/TikTok.list

    - name: Download OpenAi Rule from URL
      run: wget -O OpenAi.list https://ruleset.skk.moe/Clash/non_ip/ai.txt
    - name: Download Claude Rule from URL
      run: wget -O Claude.list https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/refs/heads/master/rule/Clash/Anthropic/Anthropic.list
      
    - name: Delete Old Rule
      run: rm -rf Rules/TT.list && rm -rf Rules/OpenAi.list

    - name: Delete Line From TT.list Where Line Start With #
      run: sed -i '/^#/d' TT.list

    - name: Delete Line From OpenAi.list Where Line Start With #
      run: sed -i '/^#/d' OpenAi.list

    - name: Delete Line From Claude.list Where Line Start With #
      run: sed -i '/^#/d' Claude.list

    - name: Append New Rule to Rules/TT.list
      run: cat TT.list >> Rules/TT.list

    - name: Append New Rule to Rules/OpenAi.list
      run: cat OpenAi.list >> Rules/OpenAi.list

    - name: Merge Claude.list to Rules/OpenAi.list
      run: cat Claude.list >> Rules/OpenAi.list
    

    - name: Delete File
      run: rm -rf TT.list && rm -rf OpenAi.list && rm -rf Claude.list
      
    - name: Download BanProgramAD.list
      run: wget -O BanProgramAD.list https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/BanProgramAD.list

    - name: Delete Domain At BanProgramAD.list where domain is in removeAd.list
      run: grep -v -F -f Others/Modify/removeAd.list BanProgramAD.list > BanProgramAD.list.tmp && mv BanProgramAD.list.tmp BanProgramAD.list

    - name: Delete Origin BanProgramAD.list
      run: rm -rf Rules/BanProgramAD.list

    - name: Move New Rule to Rules/BanProgramAD.list
      run: mv BanProgramAD.list Rules/BanProgramAD.list

    - name: Commit and push
      id: commit
      run: |
        git_status=$(git status --porcelain)
        echo git_status
        if [[ -n "$git_status" ]]; then
          echo "File Has Updated"
          git add Rules/TT.list
          git add Rules/OpenAi.list
          git add Rules/BanProgramAD.list
          git commit -m "Update Rule"
          echo "changes=true" >> $GITHUB_OUTPUT
        else
          echo "Nothing changed"
          echo "changes=false" >> $GITHUB_OUTPUT
        fi
    
    - name: Push changes
      uses: ad-m/github-push-action@master
      if: steps.commit.outputs.changes == 'true'
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }} 
